@model JustBook.Models.TaiKhoanKH
@using System.Web.Optimization

@{
    ViewBag.Title = "Đăng ký tài khoản";
    Layout = "~/Views/Header.cshtml";
}

<div class="collection_text">Create Account</div>
<div class="layout_padding collection_section">
    <div class="container">
        <div class="collection_section_2">
            <div class="row">
                <div class="login_box" style="margin-left: 350px">
                    @using (Html.BeginForm("Index", "Register", FormMethod.Post))
                    {
                    <div>
                        <label style="color: red; margin-bottom: 15px;">
                            @ViewBag.DuplicateMessage
                        </label>
                    </div>
                    <form>
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "center-block", placeholder = "Enter Email", @style = "width: 500px; height: 50px; margin-bottom: 20px;" } })
                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "center-block", placeholder = "Enter Password", @style = "width: 500px; height: 50px; margin-bottom: 20px;" } })
                        @Html.ValidationMessageFor(model => model.XacNhanMatKhau, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.XacNhanMatKhau, new { htmlAttributes = new { @class = "center-block", placeholder = "Enter Confirm Password", @style = "width: 500px; height: 50px; margin-bottom: 20px;" } })
                        <input class="center-block" type="text" id="accountName" name="TenKH" placeholder="Enter Account Name" required style="width: 500px; height: 50px;"><br>
                        <input class="center-block" type="text" id="Address" name="DiaChi" placeholder="Enter Your Address" required style="width: 500px; height: 50px;"><br>
                        <input class="center-block" type="number" id="phoneNumber" name="Phone" placeholder="Enter Your Phone Number" required style="width: 500px; height: 50px;"><br>
                        <input type="radio" id="male" name="GioiTinh" value="Nam" required>
                        <label for="male">Male</label><br>
                        <input type="radio" id="female" name="GioiTinh" value="Nữ" required>
                        <label for="female">Female</label><br>
                        <label for="birthday">Birthday:</label>
                        <input type="date" id="birthday" name="NgaySinh" required><br><br>
                        <input type="checkbox" id="agreeTerm" name="agreeTerm" value="acceptTerm" required>  <label for="agreeTerm"> I agree all statements in <a href="https://support.google.com/chrome/?p=incognito"> Terms of service</a></label><br><br>
                        <button class="subscribr_bt" style="width: 100%;">Sign Up</button><br>
                        <p> Have already an account? <a href="@Url.Action("Index", "Login")"> Login here</a></p><br><br><br><br>
                    </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
