
@{
    ViewBag.Title = "Books_Page1";
    Layout = "~/Views/Header.cshtml";
}

<div class="app__container">
    <div class="grid">
        <div class="grid__row app__content">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        <i class="category__heading-icon fas fa-list"></i>
                        Danh mục
                    </h3>

                    <ul class="category-list">
                        <li class="category-item category-item--active">
                            <a href="#" class="category-item__link">Sách Lập Trình</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Sách Văn Học</a>
                        </li>
                        <li class="category-item">
                            <a href="#" class="category-item__link">Sách Tiếng Anh</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="grid__column-10">
                <div class="home-filter">
                    <span class="home-filter__label">Sắp xếp theo</span>
                    <button class="home-filter__btn btn">Phổ biến</button>
                    <button class="home-filter__btn btn btn--primary">Mới nhất</button>
                    <button class="home-filter__btn btn">Bán chạy</button>

                    <div class="select-input">
                        <span class="select-input__label">Giá</span>
                        <i class="select-input__icon fas fa-angle-down"></i>

                        <!-- List options -->
                        <ul class="select-input__list">
                            <li class="select-input__item">
                                <a href="" class="select-input__link">Giá: Thấp đến cao</a>
                            </li>
                            <li class="select-input__item">
                                <a href="" class="select-input__link">Giá: Cao đến thấp</a>
                            </li>
                        </ul>
                    </div>

                    <div class="home-filter__page">
                        <span class="home-filter__page-num">
                            <span class="home-filter__page-current">1</span>
                            /7
                        </span>

                        <div class="home-filter__page-control">
                            <a href="" class="home-filter__page-btn home-filter__page-btn--disabled">
                                <i class="home-filter__page-icon fas fa-angle-left"></i>
                            </a>
                            <a href="" class="home-filter__page-btn">
                                <i class="home-filter__page-icon fas fa-angle-right"></i>
                            </a>

                        </div>
                    </div>
                </div>

                <div class="home-product">
                    <div class="grid__row">
                        <div class="grid__column-2-4">
                            <!-- Product item -->
                            <a class="home-product-item" href="#">
                                <div class="home-product-item__img" style="background-image: url(//product.hstatic.net/200000211451/product/bbecaed9-6c50-43e4-899c-e39c7313ecd4_fe237a082f9442a4a2de6467fb172355_large.jpg);"></div>
                                <h4 class="home-product-item__name">Python Crash Course (2nd Edition)</h4>
                                <div class="home-product-item__price">
                                    <span class="home-product-item__price-old">1.690.000đ</span>
                                    <span class="home-product-item__price-current">1.521.000đ</span>
                                </div>
                                <div class="home-product-item__action">
                                    <span class="home-product-item__link home-product-item__link--linked">
                                        <i class="home-product-item__link-icon-empty far fa-heart"></i>
                                        <i class="home-product-item__link-icon-fill fas fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">11 đã bán</span>
                                </div>
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Whoo</span>
                                    <span class="home-product-item__origin-name">Nhật Bản</span>
                                </div>
                                <div class="home-product-item__favourite">
                                    <i class="fas fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <span class="home-product-item__sale-off-percent">10%</span>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div>
                            </a>
                        </div>

                        <div class="grid__column-2-4">
                            <!-- Product item -->
                            <a class="home-product-item" href="#">
                                <div class="home-product-item__img" style="background-image: url(//product.hstatic.net/200000211451/product/27a32b16-484a-41c8-bbe9-e8604c86d586_11fa762937a34edd999dee8e1c64a476_large.jpg);"></div>
                                <h4 class="home-product-item__name">Cracking the Coding Interview: 189 Programming Questions and Solutions</h4>
                                <div class="home-product-item__price">
                                    <span class="home-product-item__price-old">1.690.000đ</span>
                                    <span class="home-product-item__price-current">1.521.000đ</span>
                                </div>
                                <div class="home-product-item__action">
                                    <span class="home-product-item__link home-product-item__link--linked">
                                        <i class="home-product-item__link-icon-empty far fa-heart"></i>
                                        <i class="home-product-item__link-icon-fill fas fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">11 đã bán</span>
                                </div>
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Whoo</span>
                                    <span class="home-product-item__origin-name">Nhật Bản</span>
                                </div>
                                <div class="home-product-item__favourite">
                                    <i class="fas fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <span class="home-product-item__sale-off-percent">10%</span>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div>
                            </a>
                        </div>

                        <div class="grid__column-2-4">
                            <!-- Product item -->
                            <a class="home-product-item" href="#">
                                <div class="home-product-item__img" style="background-image: url(//product.hstatic.net/200000211451/product/ef47b163-b8f1-4b89-b17e-9536568e8522_75a2b198db57405ba752b4508349d3b8_large.jpg);"></div>
                                <h4 class="home-product-item__name"> Clean Code </h4>
                                <div class="home-product-item__price">
                                    <span class="home-product-item__price-old">1.690.000đ</span>
                                    <span class="home-product-item__price-current">1.521.000đ</span>
                                </div>
                                <div class="home-product-item__action">
                                    <span class="home-product-item__link home-product-item__link--linked">
                                        <i class="home-product-item__link-icon-empty far fa-heart"></i>
                                        <i class="home-product-item__link-icon-fill fas fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">11 đã bán</span>
                                </div>
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Whoo</span>
                                    <span class="home-product-item__origin-name">Nhật Bản</span>
                                </div>
                                <div class="home-product-item__favourite">
                                    <i class="fas fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <span class="home-product-item__sale-off-percent">10%</span>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div>
                            </a>
                        </div>

                        <div class="grid__column-2-4">
                            <!-- Product item -->
                            <a class="home-product-item" href="#">
                                <div class="home-product-item__img" style="background-image: url(//product.hstatic.net/200000211451/product/fa06bd41-a1fd-4717-91c2-e0dd1279a851_12fc3b6047d74ca6a760ae370cca118d_large.jpg);"></div>
                                <h4 class="home-product-item__name">Algorithms (4th) </h4>
                                <div class="home-product-item__price">
                                    <span class="home-product-item__price-old">1.690.000đ</span>
                                    <span class="home-product-item__price-current">1.521.000đ</span>
                                </div>
                                <div class="home-product-item__action">
                                    <span class="home-product-item__link home-product-item__link--linked">
                                        <i class="home-product-item__link-icon-empty far fa-heart"></i>
                                        <i class="home-product-item__link-icon-fill fas fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">11 đã bán</span>
                                </div>
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Whoo</span>
                                    <span class="home-product-item__origin-name">Nhật Bản</span>
                                </div>
                                <div class="home-product-item__favourite">
                                    <i class="fas fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <span class="home-product-item__sale-off-percent">10%</span>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div>
                            </a>
                        </div>

                        <div class="grid__column-2-4">
                            <!-- Product item -->
                            <a class="home-product-item" href="#">
                                <div class="home-product-item__img" style="background-image: url(//product.hstatic.net/200000211451/product/c4583d2c-1733-4cea-bada-e6083163300b_a8bd70709fd14802a56df1b82d9adf6c_large.jpg);"></div>
                                <h4 class="home-product-item__name"> Grokking Algorithms</h4>
                                <div class="home-product-item__price">
                                    <span class="home-product-item__price-old">1.690.000đ</span>
                                    <span class="home-product-item__price-current">1.521.000đ</span>
                                </div>
                                <div class="home-product-item__action">
                                    <span class="home-product-item__link home-product-item__link--linked">
                                        <i class="home-product-item__link-icon-empty far fa-heart"></i>
                                        <i class="home-product-item__link-icon-fill fas fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">11 đã bán</span>
                                </div>
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Whoo</span>
                                    <span class="home-product-item__origin-name">Nhật Bản</span>
                                </div>
                                <div class="home-product-item__favourite">
                                    <i class="fas fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <span class="home-product-item__sale-off-percent">10%</span>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div>
                            </a>
                        </div>

                        <div class="grid__column-2-4">
                            <!-- Product item -->
                            <a class="home-product-item" href="#">
                                <div class="home-product-item__img" style="background-image: url(//product.hstatic.net/200000211451/product/30c384e9-d9ba-49e0-b468-fdc51e3a3469_88b1d9819e2d4f8e9e8de0a01abcf8a7_large.jpg);"></div>
                                <h4 class="home-product-item__name"> Eloquent JavaScript </h4>
                                <div class="home-product-item__price">
                                    <span class="home-product-item__price-old">1.690.000đ</span>
                                    <span class="home-product-item__price-current">1.521.000đ</span>
                                </div>
                                <div class="home-product-item__action">
                                    <span class="home-product-item__link home-product-item__link--linked">
                                        <i class="home-product-item__link-icon-empty far fa-heart"></i>
                                        <i class="home-product-item__link-icon-fill fas fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">11 đã bán</span>
                                </div>
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Whoo</span>
                                    <span class="home-product-item__origin-name">Nhật Bản</span>
                                </div>
                                <div class="home-product-item__favourite">
                                    <i class="fas fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <span class="home-product-item__sale-off-percent">10%</span>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div>
                            </a>
                        </div>

                        <div class="grid__column-2-4">
                            <!-- Product item -->
                            <a class="home-product-item" href="#">
                                <div class="home-product-item__img" style="background-image: url(//product.hstatic.net/200000211451/product/fd769cca-f521-4264-9b3b-e11e4cf67c6a_4087c6d8078d43be93729b3b053cf266_large.jpg);"></div>
                                <h4 class="home-product-item__name"> The Pragmatic Programmer: From Journeyman to Master </h4>
                                <div class="home-product-item__price">
                                    <span class="home-product-item__price-old">1.690.000đ</span>
                                    <span class="home-product-item__price-current">1.521.000đ</span>
                                </div>
                                <div class="home-product-item__action">
                                    <span class="home-product-item__link home-product-item__link--linked">
                                        <i class="home-product-item__link-icon-empty far fa-heart"></i>
                                        <i class="home-product-item__link-icon-fill fas fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">11 đã bán</span>
                                </div>
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Whoo</span>
                                    <span class="home-product-item__origin-name">Nhật Bản</span>
                                </div>
                                <div class="home-product-item__favourite">
                                    <i class="fas fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <span class="home-product-item__sale-off-percent">10%</span>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div>
                            </a>
                        </div>

                        <div class="grid__column-2-4">
                            <!-- Product item -->
                            <a class="home-product-item" href="#">
                                <div class="home-product-item__img" style="background-image: url(//product.hstatic.net/200000211451/product/064e0f16-8fbe-4061-b025-a514f870bc03_06a2e8e720c5427f886ba03e63933505_large.jpg);"></div>
                                <h4 class="home-product-item__name"> Automate the Boring Stuff with Python 2nd </h4>
                                <div class="home-product-item__price">
                                    <span class="home-product-item__price-old">1.690.000đ</span>
                                    <span class="home-product-item__price-current">1.521.000đ</span>
                                </div>
                                <div class="home-product-item__action">
                                    <span class="home-product-item__link home-product-item__link--linked">
                                        <i class="home-product-item__link-icon-empty far fa-heart"></i>
                                        <i class="home-product-item__link-icon-fill fas fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">11 đã bán</span>
                                </div>
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Whoo</span>
                                    <span class="home-product-item__origin-name">Nhật Bản</span>
                                </div>
                                <div class="home-product-item__favourite">
                                    <i class="fas fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <span class="home-product-item__sale-off-percent">10%</span>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div>
                            </a>
                        </div>

                        <div class="grid__column-2-4">
                            <!-- Product item -->
                            <a class="home-product-item" href="#">
                                <div class="home-product-item__img" style="background-image: url(//product.hstatic.net/200000211451/product/81c64cfd-e338-451e-aacd-7fedfd9a663b_8a6c1cd45a0e47dea4bd1d46827730e8_large.jpg);"></div>
                                <h4 class="home-product-item__name"> Effective Java </h4>
                                <div class="home-product-item__price">
                                    <span class="home-product-item__price-old">1.690.000đ</span>
                                    <span class="home-product-item__price-current">1.521.000đ</span>
                                </div>
                                <div class="home-product-item__action">
                                    <span class="home-product-item__link home-product-item__link--linked">
                                        <i class="home-product-item__link-icon-empty far fa-heart"></i>
                                        <i class="home-product-item__link-icon-fill fas fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">11 đã bán</span>
                                </div>
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Whoo</span>
                                    <span class="home-product-item__origin-name">Nhật Bản</span>
                                </div>
                                <div class="home-product-item__favourite">
                                    <i class="fas fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <span class="home-product-item__sale-off-percent">10%</span>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div>
                            </a>
                        </div>

                        <div class="grid__column-2-4">
                            <!-- Product item -->
                            <a class="home-product-item" href="#">
                                <div class="home-product-item__img" style="background-image: url(//product.hstatic.net/200000211451/product/5d771e22-52a6-48f6-a8cc-be487b2993d1_7ab709d6cf94479eb7a039003bfb37a5_large.jpg);"></div>
                                <h4 class="home-product-item__name">Introduction to Algorithms</h4>
                                <div class="home-product-item__price">
                                    <span class="home-product-item__price-old">1.690.000đ</span>
                                    <span class="home-product-item__price-current">1.521.000đ</span>
                                </div>
                                <div class="home-product-item__action">
                                    <span class="home-product-item__link home-product-item__link--linked">
                                        <i class="home-product-item__link-icon-empty far fa-heart"></i>
                                        <i class="home-product-item__link-icon-fill fas fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">11 đã bán</span>
                                </div>
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Whoo</span>
                                    <span class="home-product-item__origin-name">Nhật Bản</span>
                                </div>
                                <div class="home-product-item__favourite">
                                    <i class="fas fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <span class="home-product-item__sale-off-percent">10%</span>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div>
                            </a>
                        </div>

                        <div class="grid__column-2-4">
                            <!-- Product item -->
                            <a class="home-product-item" href="#">
                                <div class="home-product-item__img" style="background-image: url(//product.hstatic.net/200000211451/product/7fe1c5ad-bf91-4724-b74b-0f0bd2c6f09a_8a0dea4a8d2b436a95df4b95e5f7efe2_large.jpg);"></div>
                                <h4 class="home-product-item__name"> Code Complete: A Practical Handbook of Software Construction </h4>
                                <div class="home-product-item__price">
                                    <span class="home-product-item__price-old">1.690.000đ</span>
                                    <span class="home-product-item__price-current">1.521.000đ</span>
                                </div>
                                <div class="home-product-item__action">
                                    <span class="home-product-item__link home-product-item__link--linked">
                                        <i class="home-product-item__link-icon-empty far fa-heart"></i>
                                        <i class="home-product-item__link-icon-fill fas fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">11 đã bán</span>
                                </div>
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Whoo</span>
                                    <span class="home-product-item__origin-name">Nhật Bản</span>
                                </div>
                                <div class="home-product-item__favourite">
                                    <i class="fas fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <span class="home-product-item__sale-off-percent">10%</span>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div>
                            </a>
                        </div>

                        <div class="grid__column-2-4">
                            <!-- Product item -->
                            <a class="home-product-item" href="#">
                                <div class="home-product-item__img" style="background-image: url(//product.hstatic.net/200000211451/product/ded97a60-9c46-4931-b70b-6d660f78b51a_fd33e907dd8f408aa2e60c675bda169e_large.jpg);"></div>
                                <h4 class="home-product-item__name">The Clean Coder</h4>
                                <div class="home-product-item__price">
                                    <span class="home-product-item__price-old">1.690.000đ</span>
                                    <span class="home-product-item__price-current">1.521.000đ</span>
                                </div>
                                <div class="home-product-item__action">
                                    <span class="home-product-item__link home-product-item__link--linked">
                                        <i class="home-product-item__link-icon-empty far fa-heart"></i>
                                        <i class="home-product-item__link-icon-fill fas fa-heart"></i>
                                    </span>
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="home-product-item__star--gold fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">11 đã bán</span>
                                </div>
                                <div class="home-product-item__origin">
                                    <span class="home-product-item__brand">Whoo</span>
                                    <span class="home-product-item__origin-name">Nhật Bản</span>
                                </div>
                                <div class="home-product-item__favourite">
                                    <i class="fas fa-check"></i>
                                    <span>Yêu thích</span>
                                </div>
                                <div class="home-product-item__sale-off">
                                    <span class="home-product-item__sale-off-percent">10%</span>
                                    <span class="home-product-item__sale-off-label">GIẢM</span>
                                </div>
                            </a>
                        </div>





                    </div>
                </div>

                <ul class="pagination home-product__pagination">
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item__icon fas fa-angle-left"></i>
                        </a>
                    </li>
                    <li class="pagination-item pagination-item--active">
                        <a href="@Url.Action("Books_Page1", "Books")" class="pagination-item__link">1</a>
                    </li>
                    <li class="pagination-item">
                        <a href="@Url.Action("Books_Page2", "Books")" class="pagination-item__link">2</a>
                    </li>
                    <li class="pagination-item">
                        <a href="@Url.Action("Books_Page3", "Books")" class="pagination-item__link">3</a>
                    </li>
                    <li class="pagination-item">
                        <a href="@Url.Action("Books_Page4", "Books")" class="pagination-item__link">4</a>
                    </li>
                    <li class="pagination-item">
                        <a href="@Url.Action("Books_Page5", "Books")" class="pagination-item__link">5</a>
                    </li>
                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">...</a>
                    </li>
                    <li class="pagination-item">
                        <a href="@Url.Action("Books_Page7", "Books")" class="pagination-item__link">7</a>
                    </li>

                    <li class="pagination-item">
                        <a href="" class="pagination-item__link">
                            <i class="pagination-item__icon fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

