
@{
    ViewBag.Title = "Quản lý đơn hàng | Admin";
    Layout = "~/Views/Header.cshtml";
}

<style>
    table, td, th {
        border-bottom: 1px solid #dcdcdc;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 20px;
    }
</style>

<div class="page-admin">
    <div class="sidebar-admin">
        <div class="sidebar-title">DANH SÁCH CHỨC NĂNG</div>
        <a class="sidebar-item" href="@Url.Action("Index", "AdminHome")">
            <span class="fa fa-home"></span>
            <span class="sidebar-item-title">Trang chủ</span>
        </a>
        <a class="sidebar-item" href="@Url.Action("AdminAccount", "AdminHome")">
            <span class="fa fa-user-alt"></span>
            <span class="sidebar-item-title">Thông tin tài khoản</span>
        </a>
        <a class="sidebar-item" href="@Url.Action("AdminNotification", "AdminHome")">
            <span class="fas fa-bell"></span>
            <span class="sidebar-item-title">Thông báo của tôi</span>
        </a>
        <a class="sidebar-item" href="@Url.Action("OrderManagement", "AdminHome")">
            <span class="fa fa-address-card"></span>
            <span class="sidebar-item-title">Quản lý đơn hàng</span>
        </a>
        <a class="sidebar-item" href="ProductManagement">
            <span class="fas fa-tags"></span>
            <span class="sidebar-item-title">Quản lý sản phẩm</span>
        </a>
    </div>
    <div class="content-admin-order">
        <div style="font-size: 18px; font-weight: bold; text-align: center">QUẢN LÝ ĐƠN HÀNG</div>
        <div class="admin-orderlist">
            <div class="orderlist-table">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Mã đơn hàng</th>
                            <th>Ngày mua</th>
                            <th>Sản phẩm</th>
                            <th>Giá tiền</th>
                            <th>Trạng thái đơn hàng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 1; i < 12; i++)
                        {
                            string MaDH = "DH0";
                            int GiaTien = 10000;
                            MaDH += i;
                            GiaTien *= i;
                            <tr class="order-rows">
                                <td>
                                    <a href="#">
                                        <button class="btn btn-primary">Edit</button>
                                    </a>
                                    <a href="#">
                                        <button class="btn btn-danger">Delete</button>
                                    </a>
                                </td>
                                <td><a href="#">@MaDH</a></td>
                                <td>@DateTime.Now.ToString("d")</td>
                                <td>Sản phẩm @i</td>
                                <td>@GiaTien VND</td>

                                @if (i % 2 == 0)
                                {
                                    <td>Đang giao hàng</td>
                                }
                                else
                                {
                                    <td>Đã giao hàng thành công</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

