@model IEnumerable<JustBook.ViewModel.OrderManagementModel>
@{
    ViewBag.Title = "Quản lý đơn hàng | Admin";
    Layout = "~/Views/Header.cshtml";
}

<style>
    table, td, th {
        border-bottom: 1px solid #dcdcdc;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 20px;
        text-align: center;
    }

    td {
        border-right: 1px solid #dcdcdc;
    }
</style>

<div class="page-admin">
    <div class="sidebar-admin">
        <div class="sidebar-title">DANH SÁCH CHỨC NĂNG</div>
        <a class="sidebar-item" href="@Url.Action("Index", "AdminHome")">
            <span class="fa fa-home"></span>
            <span class="sidebar-item-title">Trang chủ</span>
        </a>
        <a class="sidebar-item" href="@Url.Action("AdminAccount", "AdminHome")">
            <span class="fa fa-user-alt"></span>
            <span class="sidebar-item-title">Thông tin tài khoản</span>
        </a>
        <a class="sidebar-item" href="@Url.Action("AdminNotification", "AdminHome")">
            <span class="fas fa-bell"></span>
            <span class="sidebar-item-title">Thông báo của tôi</span>
            <span class="badge" style="background-color: red;">5</span>
        </a>
        <a class="sidebar-item" href="@Url.Action("OrderManagement", "AdminHome")">
            <span class="fa fa-address-card"></span>
            <span class="sidebar-item-title">Quản lý đơn hàng</span>
        </a>
        <a class="sidebar-item" href="ProductManagement">
            <span class="fas fa-tags"></span>
            <span class="sidebar-item-title">Quản lý sản phẩm</span>
        </a>
    </div>
    <div class="content-admin-order">
        <div style="font-size: 18px; font-weight: bold; text-align: center">QUẢN LÝ ĐƠN HÀNG</div>
        <div class="admin-orderlist">
            <div class="orderlist-table">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Mã đơn hàng</th>
                            <th>Mã khách hàng</th>
                            <th>Thời gian tạo</th>
                            <th>Phương thức thanh toán</th>
                            <th>Tổng giá trị đơn hàng</th>
                            <th>Trạng thái đơn hàng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dh in Model)
                        {
                         var giatridonhang = string.Format("{0:#,##0 VND}", dh.TongGiaTriDonHang);
                            <tr class="order-rows">
                                <td>
                                    <a href="@Url.Action("OrderDetail", "AdminHome", new {id = @dh.MaDH})">
                                        <button class="btn btn-primary">Edit</button>
                                    </a>
                                    <a href="#">
                                        <button class="btn btn-danger">Delete</button>
                                    </a>
                                </td>
                                <td><a href="@Url.Action("OrderDetail", "AdminHome", new {id = @dh.MaDH})">@dh.MaDH</a></td>
                                <td>@dh.MaKH</td>
                                <td>@dh.ThoiGianTao</td>
                                <td>@dh.PhuongThucThanhToan</td>
                                <td>@giatridonhang</td>
                                <td>@dh.TrangThaiDonHang</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

